:root {
    --blue: #92c9ca;
    --gray: #323540;
    --light-gray: #cccdce;
    --dark-blue: #1e4063;
}

* {
    font-family: 'Montserrat', sans-serif;
}

/* Hero */
.hero {
    background-image: url("/images/02-hero-bg.jpg");
    background-size: cover;
    color: var(--gray);
    
}

.hero h2 {
background-color: var(--blue);
display: flex;
flex-flow: row-reverse;
font-size: 25px;
max-width: max-content;
}

/* NavBar */
.nav-item a{
    display: flex;
    
}
.navbar-light .navbar-nav .nav-link, .navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link, .mr-auto{ 
    color: var(--blue);
    text-decoration: underline;
    margin: 0 !important;
}

.navbar, .bg-light {
    background-color: var(--gray) !important;
    height: 100px;
    
}

.navbar-brand {
    background-color: var(--blue);
    width: max-content;
}

.navbar-collapse, .navbar-nav {
    justify-content: flex-end;
    margin-right: 25px;
}

.display-3 {
    margin: 0 auto;
    justify-content: flex-end;
}

/* Work Section */

.work-section, .work-section-small, .contact, .skills, .about, .skills2 {
    margin-top: 25px;
}

.card1-text {
    text-align: center;
    width: 100%;
    margin: 33% 0;
    position: absolute;
    z-index: 100;
    color: white;
    left: 20px;
    top: 100px;
    background-color: var(--blue);
    width: max-content;

}
@media only screen and (max-width: 500px){
    .card1-text {
        top: 30px;
    }
}

@media only screen and (max-width: 500px){
    .w-100 {
    margin-top: 5px;
    }
}
/* Contact Section */

.contact-list {
    display: inline-flex;
    margin: 5px;
    text-decoration: underline;
    color: var(--gray);
    font-weight: bolder;
    justify-content: space-between;
}

@media only screen and (min-width: 400px){
    .d-sm-flex a {
        display: flex;
        flex-direction: column;
        text-decoration: underline;
        color: var(--gray);
        text-decoration: none;
    } 
}

/* Skills Section */

.progress {
    margin-top: 10px;
}

/* General */
.card  {
    border: 8px solid var(--blue);
}

.subtitle {
    font-size: 55px;
    border-right: 4px solid var(--gray);
}

@media only screen and (max-width: 500px){
    .subtitle {
        border-right: 0;
        border-bottom: 4px solid var(--gray) ; 
        margin-bottom: 5px;  
    }
}
/* Footer */
.text-dark a {
    color: var(--light-gray) !important;
}
.p-3, .text-center, .text-dark, .text-dark a {
    color: var(--light-gray);
}